
.container_main_carrinho{
    width: 100%;
    margin: 1% auto;
    height: 35vh;
    
    overflow-y: scroll;
}

.link_carrinho{
    color: black ;
}

.table_carrinho{
    width: 100%;
    margin: 0 1%;
}
.table_carrinho > thead{
    width: 100%;
    background-color: #8F5B36;
    color: #FFE8C6;
    text-align: center;
    background-color: none;
    margin-right: 2%;
    margin-left: 2%;
    text-align: center;
}
.th_produto{
    width: 33%;
}
.th_preco{
    width: 20%;
    
}
.table_carrinho > tr > td{
    background-color: #FBAB83;
    color: #FFE8C6;
    text-align: center;
    background-color: none;
    margin-right: 2%;
    margin-left: 2%;
    text-align: center;
}
.th_qtd{
    width: 18%;
}
.th_total{
    width: 20%;
}
.th_exclui{
    width: 9%;
}

.td_excluir{
    text-align: center;
}

@media (min-width:550px){
    .table_carrinho{
        width: 70%;
        margin: 0 auto;
    }
}
@media (min-width:900px){
    .table_carrinho{
        width: 50%;
        margin: 0 auto;
    }
}
