.modal_carrinho_container{
    position: fixed;
    bottom: auto;
    left: auto;
    width: 100%;
}
.header_carrinho{
    background-color: #8F5B36;
    color: #FFE8C6;
    width: 100%;
}

.modal_carrinho{
    height: 100vh;
    display: flex;
}

.total_itens_total_carrinho{
    display: flex;
}
.total_itens_carrinho_texto{
    width: 50%;
}
.total_itens_carrinho_icon{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 3%;
}
.modal_carrinho_valor_total{
    
}
.modal_carrinho_valor_total{
    font-size: 1.5em;
}
.total_itens_carrinho_texto > p{
    margin: 0;
    margin-left: 2%;
    font-size: 13px;
    text-align: start;
}
.total_itens_carrinho_icon > i{
    font-size: 25px;
}

.close > span{
    color: white;
}

.total_carrinho{
    height: 60%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: #FBAB83;
    color: #FFE8C6 !important;
    text-transform: uppercase;
    overflow-y: scroll;
}

.total_carrinho > div{
    margin-top: 2%;
    text-align: start;
    width: 100%;
}
.total_carrinho > div > span{
    background-color: #FBAB83;
    width: 45px;
    color: #FFE8C6;
    text-align: center;
    background-color: none;
    margin-right: 2%;
    margin-left: 2%;
    text-align: center;
}
.total_carrinho > div > i{
    margin-right: 3px;
    border: 1px solid #FFE8C6;
    padding: 2px;
    border-radius: 3px;

}

.lowerCase{
    text-transform: lowercase;
}

.botao_carrinho_container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.botao_carrinho{
    width: auto;
    padding:5px 20px ;
    border-radius: 20px;
    margin-bottom: 4%;
    border: solid 0.5px #8F5B36;
}

@media (min-width:700px){
    .modal_carrinho_container{
        width: 43%;
    }
    .modal_carrinho{
        width: 100%;
    }
}

@media (min-width:900px){
    .modal_carrinho_container{
        width: 35%;
    }
    .modal_carrinho{
        width: 100%;
    }
}

@media (min-width:1300px){
    .modal_carrinho_container{
        width: 23%;
    }
    .modal_carrinho{
        width: 100%;
    }
}

@media (min-width:1600px){
    .modal_carrinho_container{
        width: 30%;
    }
    .modal_carrinho{
        width: 100%;
    }
}
