main{
    background: black;
    position: absolute;
    
    width: 200px;
    height: 300px;
    top: 305px;
    
    margin-left: 24%;
}




@media (min-width: 140px) 
{
    main{
        margin-left: 30%;
    }
}


@media (max-width: 991px) 
{
    main{
        margin-left: 5%;
        position: unset;
        margin-top: 2%;
    }
}