.container_header_carrinho{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header_bar_carrinho{
    width: 100%;
    height: 15px;
    background-color: #8F5B36;
}

.logo_header_carrinho{
   
    width: 15em;
}